header {
  height: 100px;
  background: #00d18b;
  @media screen and (max-width: 850px) {
    height: 80px;
  }

  .header-container {
    max-width: 1440px;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-left {
    display: flex;
    padding-left: 20px;
    @media screen and (max-width: 500px) {
      padding-left: 0;
    }
    img {
      height: 100px;
      width: 100px;
      @media screen and (max-width: 850px) {
        height: 80px;
        width: 80px;
      }
    }

    .title {
      display: flex;
      align-items: center;
      padding-left: 20px;
      padding-right: 20px;
      p {
        font-size: 40px;
        color: black;
        font-family: "Quicksand", sans-serif;
        @media screen and (max-width: 850px) {
          font-size: 25px;
        }
      }
      @media screen and (max-width: 500px) {
        padding-left: 0;
      }
    }
  }

  .header-nav {
    height: 50px;
    display: flex;
    align-items: center;
    nav {
      height: inherit;
    }
    ul {
      display: flex;
      align-items: center;
      height: inherit;
      li {
        list-style: none;
        padding: 0 30px;
        height: inherit;
        display: flex;
        align-items: center;
        a {
          text-decoration: none;
          color: black;
          font-size: 22px;
          font-family: "Quicksand", sans-serif;
          font-weight: normal;
          &:hover {
            color: white;
            transition: 0.2s;
          }
          @media screen and (max-width: 1024px) {
            font-size: 16px;
          }
        }
      }
    }
    @media screen and (max-width: 920px) {
      display: none;
    }
  }

  .header-right {
    .header-btn {
      height: 45px;
      padding: 0 15px 0 15px;
      margin: 0 15px;
      border-radius: 20px;
      border: none;
      cursor: pointer;
      font-size: 1.3rem;
      color: white;
      background-color: #054652;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      &:hover {
        background-color: #0d6d7e;
        transition: 0.2s;
      }
      @media screen and (max-width: 1230px) {
        display: none;
      }
    }
    .resp-menu {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      margin-left: 20px;
      @media screen and (max-width: 400px) {
        width: 100px;
        margin-left: 0;
      }
    }
    .burger-menu {
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 35px;
      height: 25px;
      margin: 0 15px;
      cursor: pointer;
      @media screen and (max-width: 920px) {
        display: flex;
      }
      @media screen and (max-width: 400px) {
        display: none;
      }
      span {
        display: block;
        height: 5px;
        width: 100%;
        background-color: #000;
        border-radius: 10px;
      }
    }
    .id-menu {
      display: none;
      cursor: pointer;
      width: 50px;
      height: 50px;
      @media screen and (max-width: 1230px) {
        display: flex;
      }
      img {
        display: block;
        height: 50px;
        width: 100%;
      }
    }
    @media screen and (max-width: 400px) {
      width: 80px;
      margin-right: 20px;
    }
  }
}
