* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Quicksand";
  src: url("../Fonts/Quicksand-Medium.ttf") format("truetype");
}
header {
  height: 100px;
  background: #00d18b;
}
header .header-container {
  max-width: 1440px;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
}
@media screen and (max-width: 500px) {
  header .header-left {
    padding-left: 0;
  }
}
header .header-left img {
  height: 100px;
  width: 100px;
}
@media screen and (max-width: 500px) {
  header .header-left img {
    display: none;
  }
}
header .header-left .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
header .header-left .title p {
  font-size: 40px;
  color: black;
  font-family: "Quicksand", sans-serif;
}
@media screen and (max-width: 850px) {
  header .header-left .title p {
    font-size: 30px;
  }
}
@media screen and (max-width: 360px) {
  header .header-left .title p {
    padding-left: 0;
    font-size: 30px;
  }
}
header .header-nav {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-nav nav {
  height: inherit;
}
header .header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}
header .header-nav ul li {
  list-style: none;
  padding: 0 30px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 22px;
  font-family: "Quicksand", sans-serif;
  font-weight: normal;
}
header .header-nav ul li a:hover {
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1024px) {
  header .header-nav ul li a {
    font-size: 16px;
  }
}
@media screen and (max-width: 920px) {
  header .header-nav {
    display: none;
  }
}
header .header-right .header-btn {
  height: 45px;
  padding: 0 15px 0 15px;
  margin: 0 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  color: white;
  background-color: #054652;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}
header .header-right .header-btn:hover {
  background-color: #0d6d7e;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media screen and (max-width: 1230px) {
  header .header-right .header-btn {
    display: none;
  }
}
header .header-right .resp-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 150px;
  margin-left: 20px;
}
@media screen and (max-width: 360px) {
  header .header-right .resp-menu {
    width: 120px;
  }
}
header .header-right .burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 35px;
  height: 25px;
  margin: 0 15px;
  cursor: pointer;
}
@media screen and (max-width: 920px) {
  header .header-right .burger-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .header-right .burger-menu span {
  display: block;
  height: 5px;
  width: 100%;
  background-color: #000;
  border-radius: 10px;
}
header .header-right .id-menu {
  display: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 1230px) {
  header .header-right .id-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
header .header-right .id-menu img {
  display: block;
  height: 50px;
  width: 100%;
}/*# sourceMappingURL=index.css.map */